.galeria{
    margin: 200px auto;
    width: 480px;
    height: 270px;
    position: relative;
    overflow: hidden;
}

.foto{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duracion: 20px;
    animation-iteration-count: infinite;
}

@keyframes animacao{
    25%{
        opacity: 1;
        transform:scale(1.1,1.1);
    }
    50%{
    opacity: 100;}
}
table {
  page-break-inside: auto;
  width: 50%;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto
}

thead {
  display: table-header-group
}