{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>LOJA IMPROVISO</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body>

     <img src= "{% static 'img/2525986.jpg'}" width="850px" height="250px" align="center"
          <h1> Aqui voce entrará o que precisa! </h1>

 <div = "menu">
    <ul>
        <li> <a href="produtos"> Produtos </a> </li>
        <li> <a href="regulamentos"> Regulamentos </a> </li>
        <li> <a href="contato"></a> Contato </li>
        <li> <a href="faleConosco"></a> Fale Conosco </li>
    </ul>

</body>
</html>