<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Regulamentos</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">I M P R O V I S O</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="produtos">Produtos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="regulamentos">Regulamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contato">Contato</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="faleConosco">Fale Conosco</a>
      </li>
    </ul>
  </div>
</nav>
 <center>
        <img src= "{% static 'img/logo.png'%}" width="850px" height="250px"
    </center>

          <h1> Aqui voce entrará o que precisa! </h1>
</head>
<body>
<div>
<hr>
<h2>POLÍTICA DE FRETE </h2>
    <hr>
    <ol>
        <li> Para entender nossa política de frete, primeiro é importante também saber que no nosso site e aplicativo você encontra tanto produtos e serviços vendidos e entregues diretamente por nossas lojas. Nós denominamos Loja Parceira a loja ou fabricante que anuncia e comercializa seus produtos ou serviços através dos nossos canais de venda.</li>

    <li> O custo de frete de uma entrega varia conforme o peso do produto, a dimensão e a distância do local onde ele está armazenado até o CEP que você indicou para a entregá-lo.</li>

    <li> Sobre os produtos que são vendidos e entregues diretamente pelo Improviso, eles ficam distribuídos entre os nossos 13 centros de distribuição e nas mais de 1000 lojas espalhadas pelo país. Essa é a maneira de garantirmos entregas mais rápidas e o menor custo de frete possível para você.</li>

    <li> Mas, por esse mesmo motivo, pode acontecer de um produto estar estar disponível para um determinado CEP com valor de frete diferente do praticado para outro, assim como é possível que um produto esteja promocionado com frete grátis para determinado CEP e não promocionado para outro. Isso também vale para a disponibilidade do item, ou seja, alguns produtos podem estar disponíveis para determinados CEP's de entrega e para outros não. </li>

    <li> No caso de produtos vendidos e entregues pelas nossas lojas parceiras, as regras de frete são definidas por cada uma das lojas. Os produtos e/ou serviços vendidos diretamente pelas lojas parceiras estão devidamente identificados na página de produto.</li>

    <li>Sobre promoções anunciando "Frete Grátis": observadas as informações acima, se o item que você deseja está anunciado com 'frete grátis' em banners promocionais do site ou do aplicativo, você pode confirmar se essa condição está disponível para o seu CEP antes de fechar a compra. Para isso, basta digitar o CEP de entrega no campo indicado para cálculo de frete na página do produto ou na Sacola de compra.</li>
</ol>
   <hr>
<h2> REGRAS DE CUPONS DE DESCONTO </h2>
    <hr>
    <ol>
        <li>Para utilizar um cupom de desconto promocional, coloque o(s) produto(s) na Sacola de compras e, na revisão do pedido, na opção 'Cupom de desconto', toque em 'Adicionar' ou 'Inserir', digite o código do seu cupom e confirme.</li>

        <b>IMPORTANTE:</b> cupons promocionais possuem quantidades limitadas. Aplicar o cupom no produto que você quer comprar na Sacola de compra não significa que ele está garantido. Ele só estará garantido mesmo após a geração do número do pedido. E como durante ações promocionais tudo pode acabar muito rápido, se você gostou da oferta, finalize o seu pedido.

    <li>O desconto é concedido sempre sobre o valor POR de um produto ou de uma lista de produtos elegíveis, excluindo-se valor de frete e de serviços adicionais, como garantia estendida e proteção contra roubo e furto.</li>
    <li>O desconto do cupom NÃO é concedido sobre o desconto nas compras à vista, quanto este estiver disponível. Assim, o valor à vista será recalculado após aplicação do cupom no preço POR.</li>
    <li>Apenas 1 (um) cupom pode ser utilizado por pedido e CPF e nunca é cumulativo com outro cupom ou Vale-Presente. Caso você finalize o pedido não será possível utilizar o mesmo cupom de desconto novamente. Em nenhuma hipótese o cupom será revertido em dinheiro ou qualquer outro serviço.</li>
    <li>O benefício destina-se unicamente aos clientes que participam das nossas campanhas e promoções, não podendo ser comercializado para terceiros.</li>
    <li>O código do cupom deve ser digitado sem alterações.
    <li>Aplicar o cupom no produto que você quer comprar na Sacola de compra não significa que ele está garantido. Ele só estará garantido mesmo após a geração do número do pedido. E como durante ações promocionais tudo pode acabar muito rápido, se você gostou da oferta, finalize o seu pedido.</li>
    <li>Lembre-se sempre de verificar a data de expiração do cupom que você está tentando usar, os produtos e/ou categorias a que ele se aplica e se foi digitado corretamente.</li>

        <b>SOBRE A OFERTA "SÓ NO APP":</b> Sempre um cupom imperdível com quantidade limitada. Aplicar o cupom no produto que você quer comprar na Sacola de compra não significa que ele está garantido. Ele só estará garantido mesmo após a geração do número do pedido. E como durante ações promocionais tudo pode acabar muito rápido, se você gostou da oferta, finalize o seu pedido.
</ol>
    </div>

<div>
    <hr>
<h2> CUIDADO COM E-MAILS E MENSAGENS FALSAS </h2>
    <hr>
    <p> Fiquem atentos com emails, sites e mensagens falsas com chamadas para ofertas e descontos.</p>
    <p> Em caso de dúvidas entrem em contato conosco em um de nossos canais de atendimento e/ou acesse a lista de sites não recomendados pelo Procon através do seguinte link:
        <a href="https://sistemas.procon.sp.gov.br/evitesite/list/evitesites.php"> http://sistemas.procon.sp.gov.br/evitesite/list/evitesites.php </a> </p>
</div>
</body>
</html>